@charset "utf-8";
body {
}
#page one {
	width: 90px;
}
div {
}
#div {
	background-color: #F7FF82;
	width: 1000px;
	float: none;
	height: 1000px;
}
#coveroutline {
	background-color: #F7FF82;
	width: 750px;
	height: 835px;
}
#textboxxx {
	background-color: #C83100;
	width: 200px;
	height: auto;
	color: #FFD7D8;
}
#coveroutline #txt {
	background-color: #00FF44;
	width: 225px;
	height: 260px;
	float: right;
	color: #CA77FA;
}
#coveroutline #textop {
	width: 230px;
	height: 100px;
}
#coveroutline #textop {
	background-color: #A878EE;
}
